<appSettings>
  <!-- 
        mssql
        -->
  <add key="Dataglot.Provider" value="mssql" />
  <add key="Dataglot.ConnectionStringName" value="asyncConnectionString" />
  
  <!-- 
        When testing and tuning, use 1, in production use between 100 and 1000
        -->
  <add key="hicmahBuffer" value="1" />
  <!-- 
        Capture all requests that ASP processes?
        If Off, then you must use the hicmah.ashx handler to invoke using HTML or JS, or a custom page.
        -->
  <add key="hicmahModuleInvoker" value="On" />
  <add key="Dataglot.Namespace" value="hicmah"/>
</appSettings>
