<connectionStrings>
  <!-- For asynch to work well, you need ASYNC (else it is disabled) and MARS (else each asynch command runs on a new connection)-->
  <add name="asyncConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=hicmah;Integrated Security=SSPI;ASYNC=TRUE;MultipleActiveResultSets=True" />
  <!-- For DB and things that don't need asynch. Will not be in the same pool as the async connections-->

  <add name="HicmahDb" connectionString="Data Source=.;Initial Catalog=hicmah;Integrated Security=SSPI;ASYNC=TRUE;MultipleActiveResultSets=True" providerName="System.Data.OleDb"/>
  <!--<add name="HicmahDb" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\hicmah.MDB;User Id=admin;Password=" providerName="System.Data.OleDb"/>-->
  <!-- until I figure out how to turn the above into the below automatically
  ;OLE DB Services = -1;
  Data Source=.\sqlexpress;Initial Catalog=hicmah;Integrated Security=SSPI
  -->
    
    <!-- When access, the following must be 
    Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\hicmah.MDB;User Id=admin;Password=;OLE DB Services = -1;
    Provider=SQLNCLI;Server=.\sqlexpress;Database=hicmah;Integrated Security=SSPI;
    -->
  <add name="OledbSql" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\hicmah.MDB;User Id=admin;Password=;OLE DB Services = -1;" />
  <!-- For MS Access to have acceptable perf in ASP.NET, DB services must be enabled. 
        C:\Users\mmartin\Dropbox\code\Hicmah\SampleWebForms\App_Data
        -->
  <add name="accessConnection" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\hicmah.MDB;User Id=admin;Password=;OLE DB Services = -1;" />
  <add name="ApplicationServices" connectionString="Data Source=.\sqlexpress;Initial Catalog=hicmah;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  <!--<add name="ApplicationServices" connectionString="data source=.\sqlexpress;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>-->
  <add name="access64Bit" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\mmartin\Dropbox\code\Hicmah\SampleWebForms\App_Data\hicmah.MDB;User Id=admin;Password=;OLE DB Services = -1;" />
  <add name="elmah-sqlservercompact" connectionString="Data Source=|DataDirectory|\Elmah.sdf" />
  <add name="SqlCeServices" connectionString="data source=|DataDirectory|\SqlCeAspnetdb.sdf" />
</connectionStrings>
