<system.diagnostics>
  <sources>
    <source name="Dataglot.Sql" switchType="System.Diagnostics.SourceSwitch" switchName="Dataglot.Sql">
      <listeners>
        <clear />
        <add name="Console"/>
      </listeners>
    </source>
  </sources>
  <sharedListeners>
    <add name="Console" type="Ukadc.Diagnostics.Listeners.ConsoleTraceListener, Ukadc.Diagnostics" initializeData="{Source} : {SessionId} :{ThreadId} : {EventType}:\n {Message}"/>
  </sharedListeners>
  <switches>
    <add name="Dataglot.Sql" value="Verbose"  />
  </switches>
  <trace useGlobalLock="false" autoflush="true" indentsize="0">
    <!-- Trace.WriteLine doesn't have a TraceSource -->
  </trace>
</system.diagnostics>
