<system.diagnostics>
  <sources>
    <source name="AdministrationFactory" switchType="System.Diagnostics.SourceSwitch" switchName="Hicmah.Administration">
      <listeners>
        <clear />
        <add name="OutputDebugString">
          <!-- filters go here -->
        </add>
        <add name="Console"/>
      </listeners>
    </source>
    <source name="DatabaseAdministrationForAccess" switchType="System.Diagnostics.SourceSwitch" switchName="Hicmah.Administration">
      <listeners>
        <clear />
        <add name="OutputDebugString">
          <!-- filters go here -->
        </add>
        <add name="Console"/>
      </listeners>
    </source>
    <source name="DatabaseAdministrationForSql" switchType="System.Diagnostics.SourceSwitch" switchName="Hicmah.Administration">
      <listeners>
        <clear />
        <add name="OutputDebugString">
          <!-- filters go here -->
        </add>
        <add name="Console"/>
      </listeners>
    </source>
    <source name="ChartAttackedPages" switchType="System.Diagnostics.SourceSwitch" switchName="Hicmah.ChartData">
      <listeners>
        <clear />
        <add name="OutputDebugString">
          <!-- filters go here -->
        </add>
        <add name="Console"/>
      </listeners>
    </source>
    <source name="ChartAttackedPagesCached" switchType="System.Diagnostics.SourceSwitch" switchName="Hicmah.ChartData">
      <listeners>
        <clear />
        <add name="OutputDebugString">
          <!-- filters go here -->
        </add>
        <add name="Console"/>
      </listeners>
    </source>
    <source name="ChartAttackedPagesFormatter" switchType="System.Diagnostics.SourceSwitch" switchName="Hicmah.ChartData">
      <listeners>
        <clear />
        <add name="OutputDebugString">
          <!-- filters go here -->
        </add>
        <add name="Console"/>
      </listeners>
    </source>
    <source name="CacheClearExpired" switchType="System.Diagnostics.SourceSwitch" switchName="Hicmah.DataCache">
      <listeners>
        <clear />
        <add name="OutputDebugString">
          <!-- filters go here -->
        </add>
        <add name="Console"/>
      </listeners>
    </source>
    <source name="CacheInDb" switchType="System.Diagnostics.SourceSwitch" switchName="Hicmah.DataCache">
      <listeners>
        <clear />
        <add name="OutputDebugString">
          <!-- filters go here -->
        </add>
        <add name="Console"/>
      </listeners>
    </source>
    <source name="CacheInsert" switchType="System.Diagnostics.SourceSwitch" switchName="Hicmah.DataCache">
      <listeners>
        <clear />
        <add name="OutputDebugString">
          <!-- filters go here -->
        </add>
        <add name="Console"/>
      </listeners>
    </source>
    <source name="CacheRead" switchType="System.Diagnostics.SourceSwitch" switchName="Hicmah.DataCache">
      <listeners>
        <clear />
        <add name="OutputDebugString">
          <!-- filters go here -->
        </add>
        <add name="Console"/>
      </listeners>
    </source>
    <source name="ProcessDateDimension" switchType="System.Diagnostics.SourceSwitch" switchName="Hicmah.Dimensions">
      <listeners>
        <clear />
        <add name="OutputDebugString">
          <!-- filters go here -->
        </add>
        <add name="Console"/>
      </listeners>
    </source>
    <source name="ProcessDimensions" switchType="System.Diagnostics.SourceSwitch" switchName="Hicmah.Dimensions">
      <listeners>
        <clear />
        <add name="OutputDebugString">
          <!-- filters go here -->
        </add>
        <add name="Console"/>
      </listeners>
    </source>
    <source name="ProcessTimeDimension" switchType="System.Diagnostics.SourceSwitch" switchName="Hicmah.Dimensions">
      <listeners>
        <clear />
        <add name="OutputDebugString">
          <!-- filters go here -->
        </add>
        <add name="Console"/>
      </listeners>
    </source>
    <source name="ProcessTimeZoneDimension" switchType="System.Diagnostics.SourceSwitch" switchName="Hicmah.Dimensions">
      <listeners>
        <clear />
        <add name="OutputDebugString">
          <!-- filters go here -->
        </add>
        <add name="Console"/>
      </listeners>
    </source>
    <source name="ProcessUriDimension" switchType="System.Diagnostics.SourceSwitch" switchName="Hicmah.Dimensions">
      <listeners>
        <clear />
        <add name="OutputDebugString">
          <!-- filters go here -->
        </add>
        <add name="Console"/>
      </listeners>
    </source>
    <source name="ProcessUserDimension" switchType="System.Diagnostics.SourceSwitch" switchName="Hicmah.Dimensions">
      <listeners>
        <clear />
        <add name="OutputDebugString">
          <!-- filters go here -->
        </add>
        <add name="Console"/>
      </listeners>
    </source>
    <source name="UpdateTimeOnPageMeasure" switchType="System.Diagnostics.SourceSwitch" switchName="Hicmah.Dimensions">
      <listeners>
        <clear />
        <add name="OutputDebugString">
          <!-- filters go here -->
        </add>
        <add name="Console"/>
      </listeners>
    </source>
    <source name="UpdateUserUsage" switchType="System.Diagnostics.SourceSwitch" switchName="Hicmah.Dimensions">
      <listeners>
        <clear />
        <add name="OutputDebugString">
          <!-- filters go here -->
        </add>
        <add name="Console"/>
      </listeners>
    </source>
    <source name="GenericCommand" switchType="System.Diagnostics.SourceSwitch" switchName="Hicmah">
      <listeners>
        <clear />
        <add name="OutputDebugString">
          <!-- filters go here -->
        </add>
        <add name="Console"/>
      </listeners>
    </source>
    <source name="TraceUtils" switchType="System.Diagnostics.SourceSwitch" switchName="Hicmah.Misc">
      <listeners>
        <clear />
        <add name="OutputDebugString">
          <!-- filters go here -->
        </add>
        <add name="Console"/>
      </listeners>
    </source>
    <source name="CachedLookupSql" switchType="System.Diagnostics.SourceSwitch" switchName="Hicmah.Recorders">
      <listeners>
        <clear />
        <add name="OutputDebugString">
          <!-- filters go here -->
        </add>
        <add name="Console"/>
      </listeners>
    </source>
    <source name="HitRecorderFactory" switchType="System.Diagnostics.SourceSwitch" switchName="Hicmah.Recorders">
      <listeners>
        <clear />
        <add name="OutputDebugString">
          <!-- filters go here -->
        </add>
        <add name="Console"/>
      </listeners>
    </source>
    <source name="HitRecorderMsSql" switchType="System.Diagnostics.SourceSwitch" switchName="Hicmah.Recorders">
      <listeners>
        <clear />
        <add name="OutputDebugString">
          <!-- filters go here -->
        </add>
        <add name="Console"/>
      </listeners>
    </source>
  </sources>
  <sharedListeners>
    <add name="OutputDebugString" type="Ukadc.Diagnostics.Listeners.OutputDebugStringTraceListener, Ukadc.Diagnostics" initializeData="{Source} : {SessionId} :{ThreadId} : {EventType}: {Message}"/>
    <add name="Console" type="Ukadc.Diagnostics.Listeners.ConsoleTraceListener, Ukadc.Diagnostics" initializeData="{Source} : {SessionId} :{ThreadId} : {EventType}: {Message}"/>
  </sharedListeners>
  <switches>
    <add name="Hicmah" value="Verbose"  />
    <add name="Hicmah.DataCache" value="Verbose"  />
    <add name="Hicmah.Administration" value="Verbose"  />
    <add name="Hicmah.Dimensions" value="Verbose"  />
    <add name="Hicmah.Recorders" value="Verbose"  />
    <add name="Hicmah.Misc" value="Verbose"  />
    <add name="Hicmah.ChartData" value="Verbose"  />
  </switches>
  <trace useGlobalLock="false" autoflush="true" indentsize="0">
    <!-- Trace.WriteLine doesn't have a TraceSource -->

  </trace>
</system.diagnostics>
