<?xml version="1.0" encoding="utf-8" ?>
<!-- This config file isn't normally the active one-->
<configuration>
    
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hicmah.DataConfiguration.AnotherTest" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="HicmahDb" connectionString="Data Source=localhost/sql08;Initial Catalog=hicmah;Integrated Security=SSPI;"/>
    </connectionStrings>

    <system.diagnostics>
        <sources>
            <source name="AdministrationFactory" switchType="System.Diagnostics.SourceSwitch, Hicmah" switchName="Hicmah.Administration">
                <listeners>
                    <clear />
                    <add name="OutputDebugString">
                        <!-- filters go here -->
                    </add>
                </listeners>
            </source>
            <source name="DatabaseAdministrationForAccess" switchType="System.Diagnostics.SourceSwitch, Hicmah" switchName="Hicmah.Administration">
                <listeners>
                    <clear />
                    <add name="OutputDebugString">
                        <!-- filters go here -->
                    </add>
                </listeners>
            </source>
            <source name="DatabaseAdministrationForSql" switchType="System.Diagnostics.SourceSwitch, Hicmah" switchName="Hicmah.Administration">
                <listeners>
                    <clear />
                    <add name="OutputDebugString">
                        <!-- filters go here -->
                    </add>
                </listeners>
            </source>
            <source name="ChartAttackedPages" switchType="System.Diagnostics.SourceSwitch, Hicmah" switchName="Hicmah.ChartData">
                <listeners>
                    <clear />
                    <add name="OutputDebugString">
                        <!-- filters go here -->
                    </add>
                </listeners>
            </source>
            <source name="ChartAttackedPagesCached" switchType="System.Diagnostics.SourceSwitch, Hicmah" switchName="Hicmah.ChartData">
                <listeners>
                    <clear />
                    <add name="OutputDebugString">
                        <!-- filters go here -->
                    </add>
                </listeners>
            </source>
            <source name="ChartAttackedPagesFormatter" switchType="System.Diagnostics.SourceSwitch, Hicmah" switchName="Hicmah.ChartData">
                <listeners>
                    <clear />
                    <add name="OutputDebugString">
                        <!-- filters go here -->
                    </add>
                </listeners>
            </source>
            <source name="CacheClearExpired" switchType="System.Diagnostics.SourceSwitch, Hicmah" switchName="Hicmah.DataCache">
                <listeners>
                    <clear />
                    <add name="OutputDebugString">
                        <!-- filters go here -->
                    </add>
                </listeners>
            </source>
            <source name="CacheInDb" switchType="System.Diagnostics.SourceSwitch, Hicmah" switchName="Hicmah.DataCache">
                <listeners>
                    <clear />
                    <add name="OutputDebugString">
                        <!-- filters go here -->
                    </add>
                </listeners>
            </source>
            <source name="CacheInsert" switchType="System.Diagnostics.SourceSwitch, Hicmah" switchName="Hicmah.DataCache">
                <listeners>
                    <clear />
                    <add name="OutputDebugString">
                        <!-- filters go here -->
                    </add>
                </listeners>
            </source>
            <source name="CacheRead" switchType="System.Diagnostics.SourceSwitch, Hicmah" switchName="Hicmah.DataCache">
                <listeners>
                    <clear />
                    <add name="OutputDebugString">
                        <!-- filters go here -->
                    </add>
                </listeners>
            </source>
            <source name="ProcessDateDimension" switchType="System.Diagnostics.SourceSwitch, Hicmah" switchName="Hicmah.Dimensions">
                <listeners>
                    <clear />
                    <add name="OutputDebugString">
                        <!-- filters go here -->
                    </add>
                </listeners>
            </source>
            <source name="ProcessDimensions" switchType="System.Diagnostics.SourceSwitch, Hicmah" switchName="Hicmah.Dimensions">
                <listeners>
                    <clear />
                    <add name="OutputDebugString">
                        <!-- filters go here -->
                    </add>
                </listeners>
            </source>
            <source name="ProcessTimeDimension" switchType="System.Diagnostics.SourceSwitch, Hicmah" switchName="Hicmah.Dimensions">
                <listeners>
                    <clear />
                    <add name="OutputDebugString">
                        <!-- filters go here -->
                    </add>
                </listeners>
            </source>
            <source name="ProcessTimeZoneDimension" switchType="System.Diagnostics.SourceSwitch, Hicmah" switchName="Hicmah.Dimensions">
                <listeners>
                    <clear />
                    <add name="OutputDebugString">
                        <!-- filters go here -->
                    </add>
                </listeners>
            </source>
            <source name="ProcessUriDimension" switchType="System.Diagnostics.SourceSwitch, Hicmah" switchName="Hicmah.Dimensions">
                <listeners>
                    <clear />
                    <add name="OutputDebugString">
                        <!-- filters go here -->
                    </add>
                </listeners>
            </source>
            <source name="ProcessUserDimension" switchType="System.Diagnostics.SourceSwitch, Hicmah" switchName="Hicmah.Dimensions">
                <listeners>
                    <clear />
                    <add name="OutputDebugString">
                        <!-- filters go here -->
                    </add>
                </listeners>
            </source>
            <source name="UpdateTimeOnPageMeasure" switchType="System.Diagnostics.SourceSwitch, Hicmah" switchName="Hicmah.Dimensions">
                <listeners>
                    <clear />
                    <add name="OutputDebugString">
                        <!-- filters go here -->
                    </add>
                </listeners>
            </source>
            <source name="UpdateUserUsage" switchType="System.Diagnostics.SourceSwitch, Hicmah" switchName="Hicmah.Dimensions">
                <listeners>
                    <clear />
                    <add name="OutputDebugString">
                        <!-- filters go here -->
                    </add>
                </listeners>
            </source>
            <source name="GenericCommand" switchType="System.Diagnostics.SourceSwitch, Hicmah" switchName="Hicmah">
                <listeners>
                    <clear />
                    <add name="OutputDebugString">
                        <!-- filters go here -->
                    </add>
                </listeners>
            </source>
            <source name="TraceUtils" switchType="System.Diagnostics.SourceSwitch, Hicmah" switchName="Hicmah.Misc">
                <listeners>
                    <clear />
                    <add name="OutputDebugString">
                        <!-- filters go here -->
                    </add>
                </listeners>
            </source>
            <source name="CachedLookupSql" switchType="System.Diagnostics.SourceSwitch, Hicmah" switchName="Hicmah.Recorders">
                <listeners>
                    <clear />
                    <add name="OutputDebugString">
                        <!-- filters go here -->
                    </add>
                </listeners>
            </source>
            <source name="HitRecorderFactory" switchType="System.Diagnostics.SourceSwitch, Hicmah" switchName="Hicmah.Recorders">
                <listeners>
                    <clear />
                    <add name="OutputDebugString">
                        <!-- filters go here -->
                    </add>
                </listeners>
            </source>
            <source name="HitRecorderMsSql" switchType="System.Diagnostics.SourceSwitch, Hicmah" switchName="Hicmah.Recorders">
                <listeners>
                    <clear />
                    <add name="OutputDebugString">
                        <!-- filters go here -->
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add name="OutputDebugString" type="Ukadc.Diagnostics.Listeners.OutputDebugStringTraceListener" initializeData="{EventType}: {Message}"/>
        </sharedListeners>
        <switches>
            <add name="Hicmah" value="Information"  />
            <add name="Hicmah.DataCache" value="Information"  />
            <add name="Hicmah.Administration" value="Information"  />
            <add name="Hicmah.Dimensions" value="Information"  />
            <add name="Hicmah.Recorders" value="Information"  />
            <add name="Hicmah.Misc" value="Information"  />
            <add name="Hicmah.ChartData" value="Information"  />
        </switches>
        <trace useGlobalLock="false" autoflush="true" indentsize="0">
            <!-- Trace.WriteLine doesn't have a TraceSource -->

        </trace>
    </system.diagnostics>

    <applicationSettings>
        <Hicmah.DataConfiguration.AnotherTest>
            <setting name="Setting" serializeAs="String">
                <value>blah</value>
            </setting>
        </Hicmah.DataConfiguration.AnotherTest>
    </applicationSettings>
</configuration>