<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Database.Schema.Reader.Core" version="1.2.4.17096" targetFramework="net35" />
  <package id="Essential.Diagnostics" version="1.1.20103.0" targetFramework="net35" />
  <package id="Newtonsoft.Json" version="4.0.4" />
  <package id="protobuf-net" version="2.0.0.480" targetFramework="net35" />
  <package id="SharpDom.Core.Unofficial" version="1.1.2" targetFramework="net35" />
  <package id="System.Data.SQLite" version="1.0.81.0" targetFramework="net35" />
  <package id="Ukadc.Diagnostics.Unofficial" version="1.0.61915.0" targetFramework="net35" />
</packages>