<?xml version="1.0"?>
<configuration>
    <system.diagnostics>
        <sources>
            <source name="MyTrace" switchName="Hicmah"
              switchType="System.Diagnostics.SourceSwitch" >
                <listeners>
                    <clear />
                    <add name="console" />
                    <add name="ods" type="Ukadc.Diagnostics.Listeners.OutputDebugStringTraceListener, Ukadc.Diagnostics"
                        initializeData="{EventType}: {Message} - {DateTime}, Process={ProcessId}, Thread={ThreadId}" />
                </listeners>
            </source>
        </sources>
        <sources>
            <source name="Hicmah.Recorders.HitRecorderMsSql" switchName="Hicmah"
              switchType="System.Diagnostics.SourceSwitch" >
                <listeners>
                    <clear />
                    <add name="console" />
                    <add name="ods" type="Ukadc.Diagnostics.Listeners.OutputDebugStringTraceListener, Ukadc.Diagnostics"
                        initializeData="{EventType}: {Message} - {DateTime}, Process={ProcessId}, Thread={ThreadId}" />
                </listeners>
            </source>
        </sources>
        <switches>
            <!--For TraceSwitch, 0,1,2,3, and 4 correspond Off, Error, Warning, Info, and Verbose, respectively.-->
            <!-- You can set the level at which tracing is to occur -->
            <add name="Hicmah" value="Verbose" />
            <!-- You can turn tracing off -->
            <!--add name="SourceSwitch" value="Off" -->
        </switches>
        <sharedListeners>
            <add name="console"
              type="System.Diagnostics.ConsoleTraceListener"
              initializeData="false"/>
        </sharedListeners>
        <trace autoflush="true" indentsize="4">
            <listeners>
                <add name="console" />
            </listeners>
        </trace>
    </system.diagnostics>
  <appSettings>
    <!-- 
        mssql
        -->
    <add key="Dataglot.Provider" value="mssql"/>
    <!-- 
        When testing and tuning, use 1, in production use between 100 and 1000
        -->
    <add key="hicmahBuffer" value="250"/>
    <!-- 
        Capture all requests that ASP processes?
        If Off, then you must use the hicmah.ashx handler to invoke using HTML or JS, or a custom page.
        -->
    <add key="hicmahModuleInvoker" value="On"/>
  </appSettings>
  <connectionStrings>

    <!-- For asynch to work well, you need ASYNC (else it is disabled) and MARS (else each asynch command runs on a new connection)-->
    <add name="asyncConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=hicmah_express;Integrated Security=SSPI;ASYNC=TRUE;MultipleActiveResultSets=True"/>

    <!-- For DB and things that don't need asynch. Will not be in the same pool as the async connections-->
    
      <add name="HicmahDb" connectionString="Data Source=.\sqlexpress;Initial Catalog=hicmah_express;Integrated Security=SSPI"/>


      <!-- until I figure out how to turn the above into the below automatically-->
      <add name ="OledbSql" connectionString="Provider=SQLNCLI10;Server=.\sqlexpress;Database=hicmah;Trusted_Connection=yes;"/>

      <!-- For MS Access to have acceptable perf in ASP.NET, DB services must be enabled.-->
    <add name="accessConnection" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\mmartin\Dropbox\code\Hicmah\SampleWinForms\App_Data\hicmah.MDB;User Id=admin;Password=;OLE DB Services = -1;"/>

    <add name="access64Bit" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\mmartin\Dropbox\code\Hicmah\SampleWinForms\App_Data\hicmah.MDB;User Id=admin;Password=;OLE DB Services = -1;"/>
    <add name="ApplicationServices" connectionString="data source=.\sqlexpress;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
